header, main, footer{
    background-color: #782221;
    width: 1160px;
    margin: auto;
}
header{
    height: 433px;
    color: white;
    text-align: center;
}
header img{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.container{
    display: flex;
    background-color: #2c1d27;
    justify-content: space-around;
}
.adress{
    background-color: #2c1d27;
    justify-content: flex-start;
}
.email{
    background-color: #2c1d27;
    display: flex;
    justify-content: center;
}
.numero{
    background-color: #2c1d27;
    display: flex;
    justify-content: flex-end;
}
.div a{
    color: white;
}
main{
    display: flex;
    justify-content: space-between;
}
.gauche{
    flex-direction: column;
    justify-content: start;
    width: 25%;
    color: white;
}
h2{
    color: black;
    border-style: solid;
    border-color: #dbc2a4;
    background-color: #dbc2a4;
}
section{
    display: flex;
    flex-direction: column;
}
.droite{
    width: 70%;
    background-color: white;
    flex-direction: column;
    color: black;
}
img{
    width: 25px;
    height: 25px;
}
footer{
    background-color: #782221;
    color: white;
    text-align: center;
}